{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href=""><img src="{% static 'sales.jpeg' %}" height=50 width=50 class="logo-sm"></a>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/list/' %}active{% endif %}" href="/list">Sales</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/reports/from_file/' %}active{% endif %}" href="/reports/from_file">Add from file</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/reports/' %}active{% endif %}" href="/reports">Reports</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if request.path == '/login/' %}active{% endif %}"  href="/login">Login</a>
        </li>
      </ul>
    </div>
    {% if request.user.is_authenticated %}

      <div class="nav-item dropdown">
        <div class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="{{request.user.profile.avatar.url}}" class="rounded-circle" height=50 width=50>&nbsp; {{request.user}}
        </div>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item" href="/myprofile">Profile</a></li>
          <li><a class="dropdown-item" href="/logout">Logout</a></li>
        </ul>
      </div>
    {% endif %}
    </div>