{%  extends 'base.html' %}
{% block content %}
{% for i in blogs %}
<div class="card" style="margin-bottom: 15px;">
    <div class="card-body" >
      
        <small style="display:inline;float:right;">Date created: {{i.date|date:"F d,Y"}}</small>
        <h3 class="card-title">{{i.title}}</h3>

        <p class="card-text">{{i.content}}</p>
        
        <small>Written-by {{i.author.username}}</small>
        <img src={{i.author.profile.image.url}} alt="none" class="rounded-circle" height=70 width =70 style="display: inline;float:right;">
      </div>

</div>

{% endfor %}

{% endblock %}
